// Primary colors

$primary-white: hsl(0, 0%, 100%);
$primary-black: hsl(0, 0%, 0%);
$primary-gray: hsl(0, 0%, 55%);
$primary-dark-gray: hsl(0, 0%, 41%);

// Break-Points

$l-device: 1440px;
$ip-device: 1024px;
$t-device: 1000px;
$m-device: 600px;

// Font Family

$font-alata: "Alata", sans-serif;
$font-josefin: "Josefin Sans", sans-serif;

// Loop

$creations: curiosity deep from night soccer the pocket make;
