// media query

@mixin d($size) {
  @if $size == t {
    @media (max-width: $t-device) {
      @content;
    }
  } @else if $size == m {
    @media (max-width: $m-device) {
      @content;
    }
  }
}

// h2, h2
@mixin h($size) {
  // padrão
  font-weight: 300;
  text-transform: uppercase;

  // h1
  @if $size == 1 {
    font-size: 4.5rem;
  }
  // h2
  @else if $size == 2 {
    font-size: 3.5rem;
  }

  // h1 tablet
  @else if $size == h1t {
    font-size: 5rem;
  }

  // h2 tablet
  @else if $size == h2t {
    font-size: 1.9rem;
  }

  // h1 mobile
  @else if $size == h1m {
    font-size: 2.5rem;
  }
}

// paragraph

@mixin p {
  line-height: 1.7em;
  font-weight: 300;
  font-size: 1rem;
}

// netting edge and more or less round

@mixin border($size) {
  @if $size == 50 {
    border-radius: 50%;
  } @else if $size == 7 {
    border-radius: 7px;
  }
}

@mixin max {
  max-width: $l-device;
  margin: 0 auto;
}
