*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: gray;
}

header {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  @include h(1);
}

h2 {
  @include h(2);
  @include d(m) {
    @include h(h2-m);
  }
}

p {
  @include p;
}
