*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: $font-alata;
}

main {
  background: url("/src/assets/images/desktop/image-hero.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 4rem 2rem 5rem 4rem;
  margin-bottom: 162px;
}

h1 {
  @include h(1);
}

h2 {
  @include h(2);
  @include d(m) {
    @include h(h2-m);
  }
}

p {
  @include p;
}
