*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: gray;
}

header {
  max-width: 1440px;
  justify-content: space-between;
  padding: 60px 100px;
  display: flex;
  margin: 0 auto;
}

h1 {
  @include h(1);
}

h2 {
  @include h(2);
  @include d(m) {
    @include h(h2-m);
  }
}

p {
  @include p;
}
