.interactive {
  @include max;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  padding: 0 2rem 0 2rem;

  .interactive-img {
    position: relative;
    z-index: 1;
    img {
      width: 100%;
    }
  }
  @include d(t) {
    display: flex;
    flex-direction: column;
    align-items: center;
    .interactive-img {
      position: inherit;
      width: 100%;
    }
  }
}

.interactive-text {
  background: $primary-white;
  position: relative;
  z-index: 2;
  bottom: 0;
  right: 10%;
  max-height: 700px;
  padding-left: 90px;
  padding-top: 90px;
  h2 {
    font-family: $font-josefin;
    text-transform: uppercase;
  }
  p {
    color: $primary-dark-gray;
    margin-top: 26px;
  }
  @include d(t) {
    position: inherit;
    padding-left: 0;
    padding-top: 0;
    max-width: 100%;
    h2 {
      text-align: center;
    }
  }
}
