.container-creations {
  @include max;
  padding: 0 2rem;
  margin-bottom: 180px;
  @include d(m) {
    margin-bottom: 80px;
  }
  .list {
    height: 450px;
    @include d(m) {
      height: inherit;
      scroll-snap-align: start;
      pointer-events: none;
    }
  }
}
.content-all {
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
  align-items: center;
  @include d(m) {
    justify-content: center;
    margin-bottom: 0;
  }
  .btn {
    font-size: 1.2em;
    font-family: $font-alata;
    font-weight: 300;
    background: transparent;
    padding: 13px 38px;
    border: 1px solid $primary-black;
    border-radius: 2px;
    text-transform: uppercase;
    color: $primary-black;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 5px;
    &:hover {
      background: $primary-black;
      color: $primary-white;
    }
    @include d(m) {
      display: none;
    }
  }
}

#items-wrapper {
  @include d(m) {
    display: flex;
    flex-direction: column-reverse;
  }
  .btn-mobile {
    display: none;
    @include d(m) {
      display: flex;
      align-self: center;
      font-size: 1em;
      font-family: $font-alata;
      font-weight: 300;
      text-align: center;
      color: $primary-black;
      background: transparent;
      border: 1px solid $primary-black;
      border-radius: 2px;
      text-transform: uppercase;
      padding: 10px 30px;
      margin-top: 25px;
      letter-spacing: 5px;
      &:hover {
        background: $primary-black;
        color: $primary-white;
      }
    }
  }
}
#items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  @include d(t) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include d(m) {
    display: flex;
    overflow: auto;
    gap: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  a {
    display: flex;
    height: 100%;
    align-items: flex-end;
    color: $primary-white;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: $font-josefin;
    font-weight: 300;
    padding: 0 0 60px 20px;
    transition: all 0.3s;
    line-height: 1.1em;
    &:hover {
      background: $bg-white;
    }
    @include d(m) {
      height: 300px;
      width: 300px;
      font-size: 1.5em;
      padding: 0 0 20px 10px;
      &:hover {
        background: none;
      }
    }
  }
}
