@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
.list-curiosity {
  background-image: url("/src/assets/bg/curiosity.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.list-deep {
  background-image: url("/src/assets/bg/deep.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.list-from {
  background-image: url("/src/assets/bg/from.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.list-night {
  background-image: url("/src/assets/bg/night.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.list-soccer {
  background-image: url("/src/assets/bg/soccer.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.list-the {
  background-image: url("/src/assets/bg/the.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.list-pocket {
  background-image: url("/src/assets/bg/pocket.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.list-make {
  background-image: url("/src/assets/bg/make.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
button,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-size: "Alata", sans-serif; }

main {
  background: url("/src/assets/images/desktop/image-hero.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  height: 650px;
  margin-bottom: 162px; }
  @media (max-width: 600px) {
    main {
      margin-bottom: 96px; } }

footer {
  background: black; }

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4.5rem; }
  @media (max-width: 1000px) {
    h1 {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 5rem; } }
  @media (max-width: 600px) {
    h1 {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 2.5rem; } }

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3.5rem; }
  @media (max-width: 1024px) {
    h2 {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 3rem; } }
  @media (max-width: 1000px) {
    h2 {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 2rem; } }

p {
  line-height: 1.7em;
  font-weight: 300;
  font-size: 1rem; }

.content-header {
  padding: 5rem 2rem;
  max-width: 1440px;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .content-header {
      padding: 2rem 2rem; } }
  .content-header h1 {
    font-family: "Josefin Sans", sans-serif;
    padding: 38px 39px 28px;
    border: 2px solid white;
    color: white;
    margin: 80px 0 80px 0; }
    @media (max-width: 600px) {
      .content-header h1 {
        padding: 23px 16px 23px 16px;
        margin: 40px 0 40px 0;
        letter-spacing: 1px; } }
  .content-header .content-text {
    display: flex; }
    @media (max-width: 1000px) {
      .content-header .content-text {
        justify-content: center; } }

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 600px) {
    .container-header {
      margin-bottom: 140px; } }
  .container-header .logo-header img {
    width: 100%; }

#menu {
  display: flex;
  gap: 30px; }
  #menu a {
    padding: 0.5rem 0.5rem 0.4rem 0.5rem;
    position: relative;
    font-family: "Alata", sans-serif;
    color: white;
    position: relative; }
    #menu a::before {
      content: "";
      height: 1px;
      width: 50%;
      background: #fff;
      position: absolute;
      bottom: 0;
      opacity: 0;
      left: 25%; }
    #menu a:hover::before {
      opacity: 1; }

#btn-mobile {
  display: none; }

@media (max-width: 1000px) {
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem; } }
  @media (max-width: 1000px) and (max-width: 600px) {
    #btn-mobile {
      padding: 0;
      gap: 0; } }

@media (max-width: 1000px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    transition: 0.3s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden; }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem; }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto; }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: white; }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative; }
  #nav.active #hamburger {
    border-top-color: transparent; }
  #nav.active #hamburger::before {
    transform: rotate(135deg); }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px; } }

.interactive {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  padding: 0 2rem 0 2rem;
  margin-bottom: 135px; }
  .interactive .interactive-img {
    position: relative;
    z-index: 1;
    margin-bottom: 21px; }
    .interactive .interactive-img img {
      width: 100%; }
  @media (max-width: 1000px) {
    .interactive {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2rem 0 2rem; }
      .interactive .interactive-img {
        position: inherit;
        width: 100%;
        margin-bottom: 50px; } }

.interactive-text {
  background: white;
  position: relative;
  z-index: 2;
  transform: translateY(2px);
  bottom: 5%;
  right: 10%;
  padding-left: 90px;
  padding-top: 90px; }
  .interactive-text h2 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase; }
  .interactive-text p {
    color: dimgray;
    margin-top: 26px; }
  @media (max-width: 1024px) {
    .interactive-text {
      padding-left: 50px;
      padding-top: 50px; } }
  @media (max-width: 1000px) {
    .interactive-text {
      position: inherit;
      padding-left: 0;
      padding-top: 0;
      text-align: center; }
      .interactive-text h2 {
        letter-spacing: 1px; }
      .interactive-text P {
        padding: 0 15px; } }

.container-creations {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 180px; }
  .container-creations .list {
    height: 450px; }

.content-all {
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
  align-items: center; }
  @media (max-width: 600px) {
    .content-all {
      justify-content: center;
      margin-bottom: 0; } }
  .content-all .btn {
    font-size: 1.2em;
    font-family: "Alata", sans-serif;
    font-weight: 300;
    background: transparent;
    padding: 13px 38px;
    border: 1px solid black;
    border-radius: 2px;
    text-transform: uppercase;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 5px; }
    .content-all .btn:hover {
      background: black;
      color: white; }
    @media (max-width: 600px) {
      .content-all .btn {
        display: none; } }

@media (max-width: 600px) {
  .creations-nav {
    display: flex;
    flex-direction: column-reverse; } }

.creations-nav .btn-mobile {
  display: none; }
  @media (max-width: 600px) {
    .creations-nav .btn-mobile {
      display: flex;
      align-self: center;
      font-size: 1em;
      font-family: "Alata", sans-serif;
      font-weight: 300;
      text-align: center;
      color: black;
      background: transparent;
      border: 1px solid black;
      border-radius: 2px;
      text-transform: uppercase;
      padding: 10px 30px;
      margin-top: 25px;
      letter-spacing: 5px; }
      .creations-nav .btn-mobile:hover {
        background: black;
        color: white; } }

.content-creations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; }
  @media (max-width: 1000px) {
    .content-creations {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 600px) {
    .content-creations {
      grid-template-columns: 100%; } }
  .content-creations a {
    display: flex;
    height: 100%;
    align-items: flex-end;
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    padding: 0 0 40px 20px;
    transition: all 0.3s;
    line-height: 1.1em; }
    .content-creations a:hover {
      background: rgba(255, 255, 255, 0.7); }

.container-footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .container-footer {
      flex-direction: column;
      align-items: center; } }
  .container-footer .nav-flex-footer,
  .container-footer .nav-flex-footer-redes {
    display: flex;
    gap: 20px; }
  .container-footer a {
    color: white; }
  .container-footer p {
    color: dimgray;
    margin-top: 20px; }
    @media (max-width: 600px) {
      .container-footer p {
        margin-top: 10px; } }

.logo-footer {
  margin-bottom: 20px; }
  @media (max-width: 600px) {
    .logo-footer {
      margin-bottom: 30px; } }

@media (max-width: 600px) {
  .nav-flex-footer-redes {
    justify-content: center;
    margin-top: 30px; }
  .nav-flex-footer {
    flex-direction: column;
    align-items: center; } }
