@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
button,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: "Alata", sans-serif;
}

main {
  background: url("/src/assets/images/desktop/image-hero.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 4rem 2rem 5rem 4rem;
  margin-bottom: 162px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 1.1rem;
}

.content-header {
  max-width: 1440px;
  margin: 0 auto;
}

.content-header h1 {
  font: 300 6em "Josefin Sans", sans-serif;
  width: 100%;
  max-width: 800px;
  padding: 38px 39px 28px;
  text-transform: uppercase;
  line-height: 0.98em;
  border: 2px solid white;
  color: white;
  margin: 80px 0 80px 0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: flex;
  gap: 30px;
}

#menu a {
  font-family: "Alata", sans-serif;
  color: white;
  padding: 0.5em;
}

#btn-mobile {
  display: none;
}

@media (max-width: 1023px) {
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: black;
    transition: 0.3s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: white;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.interactive {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem 0 4rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 135px;
}

.interactive-img {
  position: relative;
  z-index: 1;
  max-width: 100%;
}

.interactive-img img {
  width: 100%;
}

.interactive-text {
  background: white;
  position: relative;
  z-index: 2;
  transform: translate(-160px, 0);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 94px 0 0 97px;
  width: 49%;
}

.interactive-text p {
  color: dimgray;
  line-height: 1.7em;
  margin-bottom: 2px;
  margin-top: 26px;
}

.interactive h2 {
  font: 300 4em "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
